<div id="content" class="imprint">
  <h1>Huella</h1>
  <br/>
  <h2>Operador</h2>
  <p>Bundesinstitut für Bau-, Stadt- und Raumforschung (BBSR)<br/>
    im Bundesamt für Bauwesen und Raumordnung (BBR)<br/>
    Referat WB 6 Bauen und Umwelt<br/>
    Dirección de envio: Straße des 17. Juni 112, 10623 Berlin<br/>
    Dirección del visitante: Reichpietschufer 86-90, 10785 Berlin<br/>
  </p>
  <h2>Responsable</h2>
    <p>Alberto Espina<br/>
        E-Mail: <a class="no-xhr" href="mailto:wb6@bbr.bund.de">wb6@bbr.bund.de</a><br/>
        Telefon: +49 30 / 18401-2747<br/>
        Telefax: +49 30 / 18401-2769
    </p>
  <h2>Responsabilidad por el contenido</h2>
  <p>Bundesinstitut für Bau-, Stadt- und Raumforschung<br/>
  Referat WB 6 Bauen und Umwelt</p>

  <p>A pesar de control cuidadoso no asumimos ninguna responsabilidad por el contenido de enlaces externos. siendo el único responsable por el contenido de las páginas enlazadas.</p>
<br/>

  <h2>Soporte técnico / desarrollo</h2>
  <p>Online Now! GmbH<br/>
Agentur für digitale Kommunikation<br/>
Reichsstraße 100<br/>
14052 Berlin<br/>
<a class="no-xhr" target="_blank" href="https://www.online-now.de">https://www.online-now.de</a></p>
<br/><hr/><br/>
<h2>Problemas / Solicitudes</h2>
<p>Si tiene problemas técnicos o preguntas sobre la aplicación, contáctenos primero a través de <a class="no-xhr" href="mailto:wb6@bbr.bund.de?subject=eLCA Bauteileditor: problema / solicitud - checklist"> Correo electrónico</a> al Referat WB 6 Bauen und Umwelt.
</p>
<br/>
<hr/>
<br/><br/>

  <h2>Open Source / Licencias</h2>
  <p>La aplicación de eLCA es bajo licencia de la versión Licencia Pública General de GNU Affero 3 (AGPLv3). Esto garantiza que cada usuario las libertades de usar, distribuir y modificar el software para dürfen.Eine versión completa de la licencia es el código fuente de la copia de archivos en. También se pueden ver en el siguiente enlace.
  <a class="no-xhr" target="_blank" href="http://www.gnu.org/licenses/agpl.html">http://www.gnu.org/licenses/agpl.html</a>
  </p>

  <p><a class="no-xhr" target="_blank" href="https://bitbucket.org/beibob/elca">https://bitbucket.org/beibob/elca</a></p>

</div>