<div id="content" class="imprint">
    <h1>Imprint</h1>
    <br/>
    <h2>Operator</h2>
    <p>Bundesinstitut für Bau-, Stadt- und Raumforschung (BBSR)<br/>
        im Bundesamt für Bauwesen und Raumordnung (BBR)<br/>
        Referat WB 6 Bauen und Umwelt<br/>
        Mailing Address: Straße des 17. Juni 112, 10623 Berlin<br/>
        Visitors: Reichpietschufer 86-90, 10785 Berlin<br/>
    </p>
    <h2>Responsible</h2>
    <p>Alberto Espina<br/>
        E-Mail: <a class="no-xhr" href="mailto:wb6@bbr.bund.de">wb6@bbr.bund.de</a><br/>
        Telefon: +49 30 / 18401-2747<br/>
        Telefax: +49 30 / 18401-2769
    </p>

    <h2>Responsibility for the content</h2>
    <p>Bundesinstitut für Bau-, Stadt- und Raumforschung<br/>
        Referat WB 6 Bauen und Umwelt</p>

    <p>Despite careful control we assume no liability for the content of external links. are solely responsible for the
        content of linked sites responsible.</p>
<br/>
  <h2>Technical support / Development</h2>
  <p>Online Now! GmbH<br/>
Agentur für digitale Kommunikation<br/>
Reichsstraße 100<br/>
14052 Berlin<br/>
<a class="no-xhr" target="_blank" href="https://www.online-now.de">https://www.online-now.de</a></p>
<br/><hr/><br/><h2>Problems / Requests</h2>
<p>If you have technical problems or questions about the application, please contact us first by <a class="no-xhr" href="mailto:wb6@bbr.bund.de?subject=eLCA Bauteileditor: problem / request - checklist"> E-Mail</a> to the Referat WB 6 Bauen und Umwelt.
</p><br/>
<hr/>
<br/><br/>



    <h2>Open Source / Licensing</h2>
    <p>The application eLCA is licensed under the GNU Affero General Public License version 3 (AGPLv3). This guarantees
        every user the freedoms to use, spread and allowed to modify the software. A complete version of the license is
        the source code in the file COPYING. They can also be viewed using the following link.
        <a class="no-xhr" target="_blank" href="http://www.gnu.org/licenses/agpl.html">http://www.gnu.org/licenses/agpl.html</a>
    </p>

    <p>Source code is available here: <a class="no-xhr" target="_blank" href="https://bitbucket.org/beibob/elca">https://bitbucket.org/beibob/elca</a></p>

</div>