<div id="content" class="imprint">
  <h1>Impressum</h1>
  <br/>
  <h2>Betreiber</h2>
  <p>Bundesinstitut für Bau-, Stadt- und Raumforschung (BBSR)<br/>
    im Bundesamt für Bauwesen und Raumordnung (BBR)<br/>
    Referat WB 6 Bauen und Umwelt<br/>
    Postanschrift: Straße des 17. Juni 112, 10623 Berlin<br/>
    Hausanschrift: Reichpietschufer 86-90, 10785 Berlin<br/>
  </p>
  <h2>Verantwortlich</h2>
    <p>Alberto Espina<br/>
        E-Mail: <a class="no-xhr" href="mailto:wb6@bbr.bund.de">wb6@bbr.bund.de</a><br/>
        Telefon: +49 30 / 18401-2747<br/>
        Telefax: +49 30 / 18401-2769
    </p>

  <h2>Verantwortung für den Inhalt</h2>
  <p>Bundesinstitut für Bau-, Stadt- und Raumforschung<br/>
  Referat WB 6 Bauen und Umwelt</p>

  <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
<br/>
  <h2>Technische Betreuung / Weiterentwicklung</h2>
  <p>Online Now! GmbH<br/>
Agentur für digitale Kommunikation<br/>
Reichsstraße 100<br/>
14052 Berlin<br/>
<a class="no-xhr" target="_blank" href="https://www.online-now.de">https://www.online-now.de</a></p>
<br/><hr/><br/><h2>Probleme / Anfragen</h2>
<p>Bitte wenden Sie sich bei technischen Problemen oder Rückfragen zur Anwendung zunächst per <a class="no-xhr" href="mailto:wb6@bbr.bund.de?subject=eLCA Bauteileditor: Problem / Anfrage - Checkliste">E-Mail</a> an das Refereat WB6 Bauen und Umwelt.
</p><br/>
<hr/>
<br/><br/>
  <h2>Open Source / Lizenzierung</h2>
  <p>Die Anwendung eLCA ist unter den Bedingungen der GNU Affero General Public License in der Version 3 (AGPLv3) lizenziert.
  Diese garantiert jedem Nutzer die Freiheiten, die Software nutzen, verbreiten und ändern zu dürfen.
  Eine vollständige Fassung des Lizenztextes liegt dem Quelltext in der Datei COPYING bei. Sie kann auch über den nachfolgenden Link eingesehen werden.
  <a class="no-xhr" target="_blank" href="http://www.gnu.org/licenses/agpl.html">http://www.gnu.org/licenses/agpl.html</a>
  </p>
  <p>Der Quellcode ist unter <a class="no-xhr" target="_blank" href="https://bitbucket.org/beibob/elca">https://bitbucket.org/beibob/elca</a> verfügbar.</p>
</div>