<div id="content" class="websiteinfo">
	<h1>Información sobre eLCA</h1>
  
    <div class="infocolumns flex wrap">
		<div style="width:600px;">
        <p style="font-size:14px;line-height:20px;">Das BBSR (Bundesinstitut für Bau-, Stadt-und Raumforschung, Referat WB6 Bauen und Umwelt) stellt das Ökobilanzierungstool eLCA (www.bauteileditor.de) zur Verfügung, das im Rahmen des Bewertungssystems Nachhaltiges Bauen (BNB) verbindlich anzuwenden ist. </p>
        <p style="font-size:14px;line-height:20px;">Mit eLCA lassen sich die Umweltwirkungen von Gebäuden einfach, schnell und unter Berücksichtigung des gesamten Lebenszyklus bestimmen und bewerten.<br/>
        Im Bauteileditor, der Kernkomponente des Tools, kann der Nutzer Bauteile sehr einfach und anschaulich modellieren. Die übersichtliche, grafisch aufbereitete Darstellung der Ergebnisse ermöglicht eine detaillierte Ergebnisanalyse.<br/>
        Die Berechnungen basieren auf den ÖKOBAUDAT-Datensätzen.
        <br/><br/>	
        Sämtliche Informationen und Tools werden kostenfrei in deutscher und englischer Sprache zur Verfügung gestellt.
        </p>
        </div>
        
        <div  style="width:600px;padding: 5px;margin-left:40px;background-color: #e6e6e6;">
            <p style="font-size:14px;line-height:20px;color: #444;">Es gibt am Markt zahlreiche Tools bzw. Softwarelösungen mit der Funktion der Bilanzierung des Primärenergiebedarfs, nicht erneuerbar und der Treibhausgasemissionen im Gebäudelebenszyklus.</p>
            <p style="font-size:14px;line-height:20px;color: #444;">Für das QNG kann die Nachweisführung mit Berechnungswerkzeugen geführt werden, welche die QNG-Bilanzierungsregeln berücksichtigen, eine transparente und prüffähige Dokumentation ermöglichen und von der jeweiligen beauftragten QNG-Zertifizierungsstelle zugelassen sind (vgl. hierzu auch den Abschnitt „Berechnungswerkzeuge“ der Bilanzierungsregeln des QNG)</p>
            <p style="font-size:14px;line-height:20px;color: #444;">Die entsprechenden Daten der 'Ökobilanzierung-Rechenwerte 2023' werden in das frei verfügbare eLCA integriert, jedoch werden keine weiteren QNG-Funktionen implementiert. Für QNG-Berechnungen mit eLCA werden daher ergänzende Berechnungswerkzeuge wie beispielsweise Excel erforderlich.</p>
            <p style="font-size:14px;line-height:20px;color: #444;">Die Verwendung von eLCA für BNB bleibt davon unberührt. eLCA wird auch für das zukünftige BNB 2.0 verfügbar sein und in seinen Entwicklungen daran angepasst werden.</p>
        </div>
    </div>    
	
	<div class="inforow">
		<h2>Manual</h2>
		<include name="\Elca\View\ElcaInfoHandbookView"/>
	</div>
	
	<div class="infocolumns flex wrap">
		<div class="infocolumn">
			<h2>Descargas</h2> 
			<br/>
			
            <h3>Catálogo de componentes (Bauteilkatalog)</h3>
            <ul class="downloads">
                <li><a href="/docs/downloads/elcabauteilkatalog.pdf" target="_blank" title="Catálogo de componentes (Bauteilkatalog, solo versión alemana)" class="iconsheet no-xhr">Bauteilkatalog (Catálogo de componentes) [PDF, DE]</a><br/>
                    <span>Resumen de los componentes existentes, ordenados por versión ÖKOBAUDAT</span>
                </li>
            </ul>
            <br/> 
            
			<h3>CSV2eLCA</h3>
			<ul class="downloads">
				<li><a href="/docs/downloads/CSV2eLCA/How-to-do_CSV-Import_2019-10-01.pdf" target="_blank" title="Anleitung: CSV2eLCA Import" class="iconsheet no-xhr">Anleitung: CSV2eLCA Assistent [PDF, DE]</a><br/>
					<span>Import vorhandener Daten aus einer Tabellenkalkulation /<br/>einer Auswertung aus einem CAD Programm</span>
				</li>
			</ul>			
			<br/>
			
			<h3>EnEV2eLCA</h3>
			<ul class="downloads">
				<li><a href="/docs/EnEV/2017/export.xsd"  type="application/zip" target="_blank" title="EnEV Schema Version 1, XSD " class="iconsheet no-xhr">EnEV Schema Version 1 [XSD, DE]</a></li>
				<li><a href="/docs/EnEV/2017/export.zip" type="application/zip" title="EnEV Schema Version 1 ZIP" class="iconsheet no-xhr">EnEV Schema Version 1 [ZIP]</a></li>
			</ul>
			<ul class="downloads">
				<li><a href="/docs/EnEV/2017/export-v2.xsd"  type="application/zip" target="_blank" title="EnEV Schema Version 2, XSD " class="iconsheet no-xhr">EnEV Schema Version 2 [XSD, DE]</a></li>
				<li><a href="/docs/EnEV/2017/export-v2.zip" type="application/zip" title="EnEV Schema Version 2 ZIP" class="iconsheet no-xhr">EnEV Schema Version 2 [ZIP]</a></li>
			</ul>
			<ul class="downloads">
				<li><a href="/docs/downloads/eLCA-Ergaenzung_Schema_zu_KG_400.pdf" target="_blank" title="Ergänzung zum Schema (KG 400)" class="iconsheet no-xhr">Ergänzung zum Schema (KG 400) [PDF, DE]</a></li>
			</ul>	
			
			<br/>
			<h3>EnEV2eLCA Beschreibung</h3>
			<ul class="downloads">
				<li><a href="/docs/downloads/eLCA-ImportAssistent.pdf" target="_blank" title="eLCA Import-Assistent" class="iconsheet no-xhr">Import-Assistent [PDF, DE]</a><br/>
					<span>Assistent für den Import von Projekten aus externen Anwendungen</span>
				</li>
			</ul>
		</div>
		
		<div class="infocolumn">
			<h2>Publicaciones</h2>
			<ul class="downloads">
				<li><a href="/docs/publications/bbsr-info-6-2019-dl.pdf" target="_blank" title="" class="iconsheet no-xhr">BBSR INFO 6/2019 [PDF, DE]</a><br/>
					<span>Ökobilanzierung von Gebäuden: eLCA im Bauprozess (Seite 8)</span>
				</li>			
				<li><a href="/docs/publications/Magazin_Zukunft_Bau_2014.pdf" target="_blank" title="" class="iconsheet no-xhr">Magazin Forschungsinitiative Bau [PDF, DE]</a><br/>
					<span>eLCA – das Gebäude-Ökobilanzierungstool für jeden Planer</span>
				</li>
				<li><a href="/docs/publications/RESEARCH_NEWS_No-12015.pdf" target="_blank" title="" class="iconsheet no-xhr">RESEARCH NEWS, No 1/2015 [PDF, EN]</a><br/>
					<span>Life cycle assessment of buildings - Assessing the global ecological quality of a building with eLCA</span>
				</li>
				<li><a href="/docs/publications/Informationen-aus-der-Forschung-des-BBSR_4-2016.pdf" target="_blank" title="" class="iconsheet no-xhr">Informationen aus der Forschung des BBSR, Nr. 4/2016 [PDF, DE]</a><br/>
					<span>Ökobilanzierung von Gebäuden: Bewertung des Lebenszyklus mit eLCA</span>
				</li>
				<li><a href="/docs/publications/BBB_25-09-2017.pdf" target="_blank" title="" class="iconsheet no-xhr">Informationen aus der Forschung des BBSR, Nr. 5/2017 [PDF, DE]</a><br/>
					<span>Digitaler Workflow erweitert: Ökobilanz mit eLCA auf Basis einer EnEV-Berechnung</span>
				</li>
				<li><a href="/docs/publications/BBB_07-08-2018_Bauforschungsserie.pdf" target="_blank" title="" class="iconsheet no-xhr">BundesBauBlatt 7-8 2018 [PDF, DE]</a><br/>
					<span>Ergänzung des digitalen Workflow in der Gebäudeplanung</span>
				</li>				
			</ul>	
		</div>		

		<div class="infocolumn">
			<h2>Presentaciones</h2>
			<ul class="downloads">
				<li><a href="/docs/praesentationen/Berlin-spart-Energie-2019.pdf" target="_blank" title="BERLIN SPART ENERGIE" class="iconsheet no-xhr">BERLIN SPART ENERGIE (04.11.2019) [PDF, DE]</a></li>
				<li><a href="/docs/praesentationen/Kammerforum_AK-Berlin-2019.pdf" target="_blank" title="Kammerforum an der Ak Berlin" class="iconsheet no-xhr">Kammerforum an der Ak Berlin (24.10.2019) [PDF, DE]</a></li>
				<li><a href="/docs/praesentationen/BauTec2018_EnEV2eLCA-final.pdf" target="_blank" title="BauTec 2018 Berlin - BMUB Messetalk" class="iconsheet no-xhr">BauTec 2018 Berlin - BMUB Messetalk [PDF, DE]</a></li>

			</ul>	
		</div>		
       	<div class="infocolumn">
			<h2>BIM</h2>
			<ul class="downloads">
				<li><a href="/docs/bim/BIM.zip" target="_blank" title="" class="iconsheet no-xhr">Soporta formato IFC [ZIP, DE]</a></li>
			</ul>	
		</div>	
        
	</div>	
</div>
