<h1>Bienvenido $$username$$.</h1>

<p style="font-size:14px;line-height:20px;">Con el análisis de eLCA hay ciclo de vida de la construcción de modelos, basados en plantillas de componentes individuales existentes y para crear.
<br/><br/>Tenga en cuenta también nuestra <a href="/information">Información sobre eLCA</a></p>

<p style="font-size:14px;line-height:20px;">La entrada de datos es un proyecto basado en la base de un modelo de construcción, que se puede describir en su diseño estructural de componentes y partes que lo componen con los materiales correspondientes a la construcción y operación de las fuentes de energía utilizadas. La evaluación de un proyecto se ofrece como un balance de masas y análisis de impacto para todos los componentes utilizados y de una consideración global de las etapas del ciclo de vida, grupos de componentes y el resultado global ya durante la entrada de datos compatible BNB.</p>

<p style="font-size:14px;line-height:20px;">Los materiales que se ofrecen en la aplicación de los parámetros ecológicos de los materiales de construcción de bases de datos proporcionadas por BBSR Ökobau.dat fueron asignados en las versiones de 2009, 2011 y 2013, a lo largo del ciclo de vida.</p>

