<h1>Welcome, $$username$$.</h1>

<p style="font-size:14px;line-height:20px;">With eLCA there is life cycle analysis of building models, based on existing and individual component templates to
    create.<br/><br/>Please also note our <a href="/information">Information on eLCA</a></p>

<p style="font-size:14px;line-height:20px;">Data input is based on a project basis
    Building model that and in its structural design by components
    Component parts with the corresponding materials and for the
    Building operation described by the energy sources used
    can be. The evaluation of a project will as a mass balance
    and impact assessment for all components used and for
    An overall view of life cycle stages, component groups and
    the overall result already BNB Compliant offered during data entry.</p>

<p style="font-size:14px;line-height:20px;">The materials offered in the application of the ecological parameters of building materials provided by BBSR
    databases Ökobau.dat were assigned in the versions 2009, 2011 and 2013, over the life cycle.</p>
