<div id="content" class="elca-admin-benchmark-systems">
    <div id="elcaBenchmarkSystems">
        <div class="button add"><a href="/elca/admin/benchmarks/createSystem/">+ _(Neues Benchmarksystem anlegen)_</a></div>
        <p id="no-entries">_(Keine Daten vorhanden.)_</p>
    </div>
</div>
