
$textColorRed: #ff0000;

#content.websiteinfo .inforow {
	margin: 30px 0 20px 10px;
	border-bottom: 1px solid #dedede;
	padding: 0 0 20px 0;
}

#content.websiteinfo .flex {
	display:flex;
}


#content.websiteinfo .infocolumn {
	padding: 0 10px 0 10px;
	width: 400px;
}

#content.websiteinfo h2 {
	text-decoration: underline;
	font-weight: bold;
	padding: 0 0 10px 0;
} 

 
#content.websiteinfo .downloads {
	padding-left: 16px;
	padding-top: 10px;
} 

#content.websiteinfo .downloads  li {
  display: inline;
  position: relative;
  display: block;
  padding: 5px 0; 
  /*only for demo*/
}


/*  Anpassungen 2022-2023 - Sockelbetraege */

.sockelbetraginfobox {
float:left;
margin-right: 20px;
}
table.infoboxrahmen {
 border-left: 1px solid $borderGrey; 
 border-top: 1px solid $borderGrey; 
} 
table.infoboxrahmen th { font-style:normal; font-weight: normal; color:#888; border-bottom: 1px solid $borderGrey }

.projektdataqngqpprozent {
    display: inline-block;
    border: 1px solid $borderGrey;
}

.projektdataqngqpprozent .label-holder {
 padding: 10px;
 border-bottom: 1px solid $borderGrey;
 font-weight: bold;
}
.projektdataqngqpprozent .HtmlRadiobox {
 padding: 10px;
}

/* Disabled auf select überträgt keine Daten 
https://stackoverflow.com/questions/8100351/how-to-make-a-dropdown-readonly-using-jquery
*/
select.read-only, option.read-only {
   pointer-events: none;
  touch-action: none;
}



/* --------------------------- */ 

#content.websiteinfo .downloads li .iconsheet:before {
  content: "";
  height: 100%;
  width: 15px;
  left: -15px;
  top:5px;
  position: absolute;
  background: url(/img/elca/ic-download-sheet.png) no-repeat;
}

#content.users #elca-users .createdyear {
	margin: 30px 0 20px 0;
	text-decoration: underline;
}
#content.users #elca-users .createdyear h2 {
	font-weight:bold;
	font-size: 20px;
}

#content .pdfcreate {
	padding: 0 5px;
	float:right;
}

#content .legendProject {
font-size: 14px;
font-style: italic;
color: #666;
padding-top: 20px;
}

#content .pdfcreate.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* IFC Import */
#content.project-csv-import.preview li.element .column.name.ifc{
    left: 220px;
    width: 250px;
    overflow: hidden;
    height: auto; 
    line-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0 10px;
}
#content .block.ifcinfo.preview {
 display:block;
 padding-bottom:5px;
}

#content .block.ifcinfo.preview:nth-child(2){
	padding-top: 10px;
}

#content .ifcdatadelete {
 position: absolute;
 top:5px;
 right:5px;
 z-index:50;
 cursor:pointer;
 padding: 0 5px 3px 5px;
}
#content .ifcdatadelete:hover {
  background-color: #ff0000;
  text-decoration:none;
  color:#fff;
}

/* IFC field Form Elemnt attributes */
#content.project-elements #elementForm  .ifcguid {
 position:relative;
}

#content.project-elements #elementForm  .ifcguid .form-section.attr {
    float: none;
    width: auto;
    padding-right: 0;
}

#content.project-elements #elementForm .attributes .ifcguid input {
 width:100%;
}

#content.project-elements #elementForm .attributes .ifcguid #viewerbtn {
 border:1px solid #888;
 font-size: 12px;
 color: #888;
 padding: 2px 4px;
 position: absolute;
 top: 0;
 right: 25px;
 cursor:pointer;
}

/* IFC Import end */


/* PDF Download Modal */
#elca-modal-content .pdf-gen-done.pdfdownloadinfo {
	margin-left: 70px;
}
#elca-modal-content .pdf-gen-done.pdfdownloadinfo #download-pdf p a {
margin-left: 0;
}

#content.report-effects .reportForm, #content.report-summary-element-types .reportForm {
    position: absolute;
    top: 50px !important;
    left: 700px !important;
    width: 100px;
}

.textcolor-red {
	color: $textColorRed;
}

.report-avv-waste-code  td {
    text-align:right;
}

.report-avv-waste-code .summary-row td {
    font-weight: bold; 
    padding: 10px 4px 2px 4px;
    font-size: 15px;
}

.report-avv-waste-code .summary-row td.firstColumn {
    padding: 10px 4px 2px 0;
    text-align:left !important;
}


.report-avv-waste-code td {
    font-size: 14px;
}


/* Report summary - GWP data */
.projects .report-summary-total .print-content {
    position: relative;
}
.projects .report-summary-total .print-content .GWPvalues{
    position: absolute;
    top:20px;
    right: -400px;
    width: 400px;
} 

#content.report .GPWtabelle td {
    text-align:right;
}

#content.report .GPWtabelle td.firstColumn {
    text-align:left;
}

#content.report .GPWtabelle .firstRow {
    font-weight:bold;
}


#content.report-summary-total .print-content ul.category:nth-child(3) {
    margin-top:100px;
}


#content.report .GWPvalues div.chart {
  padding-left:0px;
}

#content.report .GWPvalues .pieChartSVG svg {
 -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

#content.report .GWPvalues  .pieChartSVG {
    height: 200px;
    margin-top: 20px;
    
}

#content.report .GWPvalues .pie-chart-gwp {
height: 200px;
}

#content.report .GWPvalues svg {
	width: 100%;
	height: 100%;
}

#content.report .GWPvalues path.slice{
	stroke-width:2px;
    color:#ffffff;
}

#content.report .GWPvalues polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


@media print {
  .projects .report-summary-total .print-content .GWPvalues{
    position: relative;
    top: auto;
    right: auto;
    padding: 0 0 30px 0;
  }
  .projects .report-summary-total .print-content .GWPvalues .pie-chart-gwp svg{
    width:300px;
    height:300px;
  }   
}


#outer {
    position: relative;
}
#overlayhinweis{
    position:fixed;
    left:50%;
    top:50%;  
    width:500px;
    height:350px;
    margin-top: -175px;
    margin-left: -250px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:none;
}

#overlayhinweis h2 {
    color: $textColorRed;
    font-size: 18px;
    text-align: center;
}   

#overlayhinweis p {
    color: #000;
    font-size: 16px;
    line-height: 20px;
}    

#overlayhinweis .closebtnoverlay {
    text-align: center;
}

#overlayhinweis .markiertfett {
    font-weight:bold;
}

#overlayhinweis .markiertfettunderline {
    font-weight:bold;
    text-decoration: underline;
}