@page { size: auto;
  /* size: 21cm 29.7cm; */
margin: 2cm 1.5cm 2cm 2.5cm; }
/* defaults ------- */
* { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }

/* Black prints faster: h5bp.com/s */
a, a:visited { text-decoration: none; }

abbr[title]:after { content: " (" attr(title) ")"; }

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

/* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

thead { display: table-header-group; }

/* h5bp.com/t */
img { max-width: 100% !important; page-break-inside: avoid; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }

body { font-size: medium; }

form, input, select { display: none; }

/* global print layout -------------------- */
#meta, #navLeft, #navTopWrapper, #contentHead, body.pdf #header, .button.print { display: none; }

#main { border-left: none; margin-top: 2cm; margin-left: 0; min-height: 0 !important; }

#outer, .layout-width, #content { width: auto !important; min-width: 0 !important; max-width: none !important; padding: 0; }

#osit { padding-top: 200px; }

#osit a, #osit span { font-size: 12pt !important; padding: 0 !important; }

#osit span a, #osit span span { padding-left: 10px !important; }

#progress { display: none; }

body { line-height: 1.1; }

h1 { font-size: 14pt !important; }

h2 { font-size: 12pt !important; }

h3 { font-size: 10pt !important; }

h5 { font-size: 9pt !important; }

p, li, dl, dd { font-size: 9pt !important; }

label, input, th, td, pre { font-size: 8pt !important; }

th, td { border-color: #000 !important; border-width: 1pt !important; }

th { border-bottom: 1pt solid #000  !important; }

col { width: auto !important; }

/* reporting --------------- */
#content.report { font-size: 12pt; }
#content.report dd, #content.report dt { line-height: 24px; }
#content.report dd.print, #content.report dt.print { display: block; }

#content.report ul.category > li.section { margin-bottom: 1cm; }
#content.report ul.category > li.section > h1 { margin-top: 0; }

#content.report li.section h1 { margin-top: 0; }

#content.report li .tables, #content.report li.section table { page-break-inside: avoid; float: none; }

#content.report li.section .element-image, #content.report li.section .chart { page-break-inside: avoid; padding: 1cm 0 2cm 0; float: none; font: 10px sans-serif; }

#content.report li.section .element-image:empty { padding: 0; }

#content.report li .tables .element-details-wrapper { display: none; }

svg text { font: 10px sans-serif; }

/* reporting summary --------------- */
#content.report div.report-bar { border: 5px solid #4C83A6; height: 0 !important; }

#content.report div.report-bar-outer { border: none !important; height: 6px !important; overflow: hidden; }

/* reporting effects --------------- */
/* reporting assets --------------- */
#content.report-assets li.section .element-assets { page-break-inside: avoid; float: none; }

#content.report-assets li.section .element-image { width: 14cm; padding-bottom: 0; }

#content.report-assets li.section { margin-bottom: 0; }

#content.report-assets h3 { font-size: 10pt !important; page-break-after: avoid; }

#content.report-assets table.report-assets, #content.report-assets table.report-assets-details { border-collapse: collapse; width: 100%; }

#content.report-assets table.report-assets-details { margin: 0; }

#content.report-assets table.report-assets tr.component td { padding-top: 2px; }

#content.report.report-effects .element-image { display: none; }

#content.report.report-effects.report-effects-elements .element-image { display: block; }

/* reporting print header ----------------------------- */
#content table.print-table { width: 100%; page-break-after: auto !important; }

#content table.print-table td.print-content { padding-top: 0.5cm; }

#content table.print-table td.print-td { border: none; }

#content table.print-table td.print-td div.print-header, #content table.print-table td.print-td div.print-footer { display: block; padding: 0 5px; margin: 0; width: auto; text-align: center; }

#content table.print-table td.print-td div.print-header { border: 1px solid #000; padding: 2px 4px; }

#content table.print-table td.print-td div.print-header div.logo { padding-top: 3px; float: left; }

#content table.print-table td.print-td div.print-header h2, #content table.print-table td.print-td div.print-header h3, #content table.print-table td.print-td div.print-header p { margin: 0; margin-left: 90px; padding: 5px 0; }

#content table.print-table td.print-td div.print-header p.description { position: relative; }
#content table.print-table td.print-td div.print-header p.description span { display: none; white-space: nowrap; position: absolute; top: 8px; }
#content table.print-table td.print-td div.print-header p.description span em { font-style: normal; }
#content table.print-table td.print-td div.print-header p.description span.left { left: 10px; }
#content table.print-table td.print-td div.print-header p.description span.right { right: 10px; }

body.pdf #content table.print-table td.print-td div.print-header p.description span { display: block; }

#content table.print-table td.print-td div.print-header h3 { margin-top: 3px; }

#content table.print-table td.print-td div.print-header h2, #content table.print-table td.print-td div.print-header h3 { border-bottom: 1px solid #000; }

#content table.print-table td.print-td div.print-footer { margin-top: 1cm; }

#content table.print-table div.print-footer table { width: 100%; border-collapse: collapse; border-spacing: 0; }

#content table.print-table td.print-td div.print-footer td { border: 1px solid #000 !important; font-weight: bold; }

#content table.print-table td.print-td div.print-footer td em { color: #666; font-weight: normal; }

#content.report-summary-benchmarks .indicator-charts { height: auto; }
#content.report-summary-benchmarks .indicator-charts .cycler { position: relative; float: none; clear: both; margin-top: 1cm; margin-left: 0px; }
#content.report-summary-benchmarks .indicator-charts .cycler .ref-model-chart { position: relative !important; top: auto !important; left: auto !important; display: block !important; padding: 0 !important; }
#content.report-summary-benchmarks .indicator-charts #indicator-charts-pager { display: none; }

#content.report .benchmark-print-comment { display: block !important; }

/* reporting page breaks --------------- */
#content.report > dl { page-break-after: always; }
#content.report ul.category > li.section > h1 { page-break-after: avoid; }
#content.report ul.category > li.section ul.report-elements > li.section { page-break-inside: avoid; page-break-after: always; }
#content.report ul.category > li.section ul.report-elements > li.section.last { page-break-after: auto; }
#content.report ul.category > li.section.last { page-break-after: auto; }
#content.report.report-summary ul.category > li.section { page-break-inside: avoid; }

/* Administration  Bauteilkatalog page breaks
* --------------- */
#elcaAdminBauteilkatalog .elcaAdminBauteilkatalogItem { page-break-before: always; page-break-inside: avoid; }

#elcaAdminBauteilkatalog .elcaAdminBauteilkatalogItem dl { width: auto; }

#elcaAdminBauteilkatalog .elcaAdminBauteilkatalogItem dd, #elcaAdminBauteilkatalog .elcaAdminBauteilkatalogItem dt { line-height: 18px !important; }
